.login-page {
    display: flex;
  }
  
.left-background-login {
   background-color: white;
   width: 40%;
   min-height: 100vh;
   display: flex;
   justify-content: center;
 }
  
.content-login {
  margin-top: 50%;
   padding: 20px;
 }

 .logo-container-login {
  position: absolute;
  color: black;
  display: flex;
  margin-top: 10px;
}

 .logo-login {
  display: flex;
  height: 70px;
  width: auto;
}

.LoginIcon {
  width: 366px;
  height: 56px;
}
  
h3 {
     font-size: 28px;
  }