.register-page {
    display: flex;
  }
  
  .left-background {
    background-color: white;
    width: 30vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .content {
    padding: 20px;
  }
  